<a href="https://colab.research.google.com/github/osoohynn/Craftsman-Information-Processing/blob/main/%EC%A4%91%EA%B3%A0%EC%B0%A8%EA%B0%80%EA%B2%A9%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
# from google.colab import drive
# drive.mount('/content/drive')

In [98]:
import pandas as pd

train_dataset = pd.read_csv('/content/drive/MyDrive/train-data.csv')
test_dataset = pd.read_csv('/content/drive/MyDrive/test-data.csv')

train_dataset.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [99]:
train_dataset.isnull().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [100]:
train_dataset.drop(columns=['Unnamed: 0', 'Name', 'Location', 'New_Price'], inplace=True)

In [101]:
test_dataset.drop(columns=['Unnamed: 0', 'Name', 'Location', 'New_Price'], inplace=True)

In [102]:
train_dataset.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [103]:
kmkg = 0
kmpl = 0
for i in train_dataset.Mileage:
    if str(i).endswith("km/kg"):
        kmkg+=1
    elif str(i).endswith("kmpl"):
        kmpl+=1
print('The number of rows with Km/Kg : {} '.format(kmkg))
print('The number of rows with Km/Kg : {} '.format(kmpl))

The number of rows with Km/Kg : 66
The number of rows with Km/Kg : 5951

In [104]:
train_dataset = train_dataset.dropna(subset=['Mileage'])

In [105]:
Correct_Mileage = []
for i in train_dataset.Mileage:
    if str(i).endswith('km/kg'):
        i = i[:-6]
        i = float(i)*1.40
        Correct_Mileage.append(float(i))
    elif str(i).endswith('kmpl'):
        i = i[:-6]
        #print(i)
        Correct_Mileage.append(float(i))

train_dataset['Mileage'] = Correct_Mileage

<ipython-input-105-351f3cd1a958>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset['Mileage'] = Correct_Mileage

In [106]:
train_dataset['Engine'] = train_dataset['Engine'].str.extract(r'(\d+)')
train_dataset.head()

<ipython-input-106-79179df57bc9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset['Engine'] = train_dataset['Engine'].str.extract(r'(\d+)')

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,CNG,Manual,First,37.24,998,58.16 bhp,5.0,1.75
1,2015,41000,Diesel,Manual,First,19.60,1582,126.2 bhp,5.0,12.50
2,2011,46000,Petrol,Manual,First,18.00,1199,88.7 bhp,5.0,4.50
3,2012,87000,Diesel,Manual,First,20.70,1248,88.76 bhp,7.0,6.00
4,2013,40670,Diesel,Automatic,Second,15.00,1968,140.8 bhp,5.0,17.74

In [107]:
train_dataset['Power'] = train_dataset['Power'].str.extract(r'(\d+)')
train_dataset.head()

<ipython-input-107-cb0588b1ac19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset['Power'] = train_dataset['Power'].str.extract(r'(\d+)')

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,CNG,Manual,First,37.24,998,58,5.0,1.75
1,2015,41000,Diesel,Manual,First,19.60,1582,126,5.0,12.50
2,2011,46000,Petrol,Manual,First,18.00,1199,88,5.0,4.50
3,2012,87000,Diesel,Manual,First,20.70,1248,88,7.0,6.00
4,2013,40670,Diesel,Automatic,Second,15.00,1968,140,5.0,17.74

In [108]:
train_dataset.isnull().sum()

Year                   0
Kilometers_Driven      0
Fuel_Type              0
Transmission           0
Owner_Type             0
Mileage                0
Engine                36
Power                143
Seats                 42
Price                  0
dtype: int64

In [109]:
engine_mean = train_dataset['Engine'].dropna().astype(int).mean().astype(int)
train_dataset['Engine'].fillna(engine_mean, inplace=True)

print(engine_mean)

1621

<ipython-input-109-92795eff8c84>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Engine'].fillna(engine_mean, inplace=True)
<ipython-input-109-92795eff8c84>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_dataset['Engine'].fillna(engine_mean, inplace=True)

In [110]:
power_mean = train_dataset['Power'].dropna().astype(int).mean().astype(int)
train_dataset['Power'].fillna(power_mean, inplace=True)

print(power_mean)

112

<ipython-input-110-bfa37e60d17a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Power'].fillna(power_mean, inplace=True)

In [111]:
seats_mean = train_dataset['Seats'].dropna().astype(int).mean().astype(int)
train_dataset['Seats'].fillna(seats_mean, inplace=True)

print(seats_mean)

5

<ipython-input-111-a031d7a4052f>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Seats'].fillna(seats_mean, inplace=True)

In [112]:
train_dataset.isnull().sum()

Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [113]:
train_dataset['Fuel_Type'].value_counts()

Fuel_Type
Diesel    3205
Petrol    2746
CNG         56
LPG         10
Name: count, dtype: int64

In [114]:
train_dataset['Fuel_Type'].replace({'Petrol': 0, 'Diesel': 1, 'CNG': 2, 'LPG':3}, inplace=True)
train_dataset.head()

<ipython-input-114-4070098f1062>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Fuel_Type'].replace({'Petrol': 0, 'Diesel': 1, 'CNG': 2, 'LPG':3}, inplace=True)
<ipython-input-114-4070098f1062>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_dataset['Fuel_Type'].replace({'Petrol': 0, 'Diesel': 1, 'CNG': 2, 'LPG':3}, inplace=True)

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,2,Manual,First,37.24,998,58,5.0,1.75
1,2015,41000,1,Manual,First,19.60,1582,126,5.0,12.50
2,2011,46000,0,Manual,First,18.00,1199,88,5.0,4.50
3,2012,87000,1,Manual,First,20.70,1248,88,7.0,6.00
4,2013,40670,1,Automatic,Second,15.00,1968,140,5.0,17.74

In [115]:
train_dataset['Transmission'].value_counts()

Transmission
Manual       4299
Automatic    1718
Name: count, dtype: int64

In [116]:
train_dataset['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
train_dataset.head()

<ipython-input-116-513b4ff70d4d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
<ipython-input-116-513b4ff70d4d>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_dataset['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,2,0,First,37.24,998,58,5.0,1.75
1,2015,41000,1,0,First,19.60,1582,126,5.0,12.50
2,2011,46000,0,0,First,18.00,1199,88,5.0,4.50
3,2012,87000,1,0,First,20.70,1248,88,7.0,6.00
4,2013,40670,1,1,Second,15.00,1968,140,5.0,17.74

In [117]:
train_dataset['Owner_Type'].value_counts()

Owner_Type
First             4927
Second             968
Third              113
Fourth & Above       9
Name: count, dtype: int64

In [118]:
train_dataset['Owner_Type'].replace({'First': 0, 'Second': 1, 'Third': 2, 'Fourth & Above':3}, inplace=True)
train_dataset.head()

<ipython-input-118-8f43f8473870>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_dataset['Owner_Type'].replace({'First': 0, 'Second': 1, 'Third': 2, 'Fourth & Above':3}, inplace=True)
<ipython-input-118-8f43f8473870>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_dataset['Owner_Type'].replace({'First': 0, 'Second': 1, 'Third': 2, 'Fourth & Above':3}, inplace=True)

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,2010,72000,2,0,0,37.24,998,58,5.0,1.75
1,2015,41000,1,0,0,19.60,1582,126,5.0,12.50
2,2011,46000,0,0,0,18.00,1199,88,5.0,4.50
3,2012,87000,1,0,0,20.70,1248,88,7.0,6.00
4,2013,40670,1,1,1,15.00,1968,140,5.0,17.74

In [121]:
X = train_dataset.drop(columns=['Price'])
Y = train_dataset['Price']

In [123]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X, Y)

lr.score(X, Y)

0.6958397158214691